# Python
.venv
venv
pyproject.toml
uv.lock
.python-version
*.ipynb_checkpoints
.vscode
# System files
.DS_store
.idea
*/*/__pycache__
*/__pycache__
.env
finetuning/hf
finetuning/Llama*
finetuning/outputs